*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

nav ul li a:hover{
    color: #FF4438;
}

a{
    text-decoration: none;
    color: #555;
}

p{
    color: #555;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 20px 0;
}
.btn{
    display: inline-block;
    background: black;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    transition: background 0.5s;
}

.btn:hover{
    background: #FF4438;
}

.header{
    background: white;
}

.header .row{
    margin-top: 50px;
}

.categories{
    margin: 70px 0;
    background-color: black;
    padding-top: 50px;
}

.categories img{
    cursor: pointer;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
}

.title::after{
    content: '';
    background: #FF4438;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #555;
    font-weight: normal;
}

.col-4 p{
    font-size: 14px;
}

.col-4:hover{
    transform: translateY(-5px);
}

/* deal of the week */
.offer {
    background: #F3F2EE;
    margin-top: 80px;
    padding-top: 50px;
}

.col-2 .offer-img{
    padding: 50px;
}

small{
    color: #555;
}

/* vision center brands */
.brands{
    margin: 100px auto;
}

.col-5 {
    width: 160px;
}

.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
/* footer */
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {
    color: #8a8a8a;
}

.footer h3{
    color: #fff;
    margin-bottom: 15px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
}

.footer-col-2{
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

ul{
    list-style-type: none;
}

.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}

.copyright{
    text-align: center;
}

/* responsive */
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

/* media query for menu */
@media only screen and (max-width: 800px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #000;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s ;
    }

    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;

    }

    nav ul li a {
        color: #fff;
    }

    .menu-icon{
        display: block;
        cursor: pointer;
    }
}
/* shop */
/* Todos los productos */
.row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
}

select{
    border: 1px solid #000;
    padding: 5px;
}

select:focus {
    outline: none;
}

.page-btn{
    margin: 0 auto 80px;
}

.page-btn span {
    display: inline-block;
    border: 1px solid #000;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover {
    background: #000;
    color: #fff;
}
/* Carrito */
.cart-page{
    margin: 80px auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th{
    text-align: left;
    padding: 5px;
    font-weight: normal;
}

td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: #FF4438;
    font-size: 12px;
}

td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

.total-price{
    display: flex;
}

.total-price table{
    width: 100%;
    max-width: 300px;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

/* blog */
.article{
    background-color: #F3F2EE;
    padding: 20px;
    text-align: center;
}

.article h5{
    padding-top: 10px;
}

.article h4{
    padding-top: 5px;
    padding-bottom: 20px;
}

/* contacto */
.contact{
    padding: 50px 0;
    background: #F3F2EE;
}

.form-container{
    background: #fff;
    width: 350px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0);
}

.form-btn span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100%;
    display: inline-block;
}

.form-btn{
    display: inline-block;    
}

.form-container form{
    max-width: 350px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
}

form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .btn:focus{
    outline: none;
}



/* media query for -600px screen size */

@media only screen and (max-width: 600px) {
    .row{
        text-align: center;
    }

    .col-2, .col-3, .col-4{
        flex-basis: 100%;
        text-align: center;
    }
    .cart-info p{
        display: none;
    }


}