.article{
    background-color: #F3F2EE;
    padding: 20px;
    text-align: center;
    h5{
        padding-top: 10px;
    }
    h4 {
        padding-top: 5px;
        padding-bottom: 20px;
    }
    .btn{
        text-decoration: none;
    }
}